<% layout('layout') -%>
    <h1>Gallery</h1>
    <div class="row">
        <%for (item of items){%>
            <div class="col-lg-6 d-flex justify-content-center">
                <a href="/gallery/<%=item._id%>">
                    <div class="gallery-item d-flex flex-column mx-auto justify-content-center">
                        <img src="<%=item.url%>" class="item-img" alt="">
                        <div class="mx-auto">
                            <a href="/gallery/<%=item._id%>" class="item-label">
                                <i>
                                    <%=item.name%>
                                </i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            <%}%>
    </div>