<% layout('layout') -%>
    <main class="d-flex flex-column">
        <h1>Welcome to Ocean's Collection</h1>
        <div class="row">
            <div class="col collection-blurb">
                <p>
                    Welcome to the world's most exclusive silent auction. My name is Danny Ocean, and my team and I
                    are the premier experts on "procuring" items of great value. While we keep a few choice items to
                    ourselves, we are willing to sell the rest to the hightest bidder. Each item in our collection
                    is genuine and in pristine condition.
                </p>
                <p>
                    To take part in the silent auction, you must first create an account.
                    Then peruse our gallery for anything that catches your eye. If you are the highest bidder when
                    the bidding deadline is reached, you will be contacted regarding payment for the item in question.
                </p>
            </div>
            <div class="col suit-display-div">
                <div class="suit-pic-div d-flex align-items-center">
                    <img class="suit-pic" src="/images/man_in_suit.jpg" alt="Picture of a man in a suit">
                </div>
            </div>
        </div>
        <div class="center-format">
            <p>Check out our Collection!</p>
            <a href="/gallery" class="button-dark"><b>Proceed to Gallery</b></a>
        </div>
        <div class="center-format">
            <p>Don't have an account?</p>
            <a href="/register" class="button-dark"><b>Register Now</b></a>
        </div>
    </main>