<% layout('layout') -%>
    <main class="d-flex align-items-center justify-content-center">
        <div class="row">
            <container class="form-container col-md-6 d-flex">
                <div class="form-div d-flex">
                    <form id="register-form" class="form-style" action="/register" method="post">
                        <h2>Register</h2>
                        <div class="row form-element-lg">
                            <label class="label-style" for="username">Username</label>
                            <div>
                                <input class="username-input form-input" type="text" name="username" id="username"
                                    autofocus required>
                            </div>
                        </div>
                        <div class="row form-element-lg">
                            <label class="label-style" for="password">Password</label>
                            <div>
                                <input class="password-input form-input" type="password" name="password" id="password"
                                    required>
                                <button id="password-visibility" class="button-light" type="button"
                                    aria-controls="password" aria-pressed="false">
                                    <i id="eye-slash" class="fa-solid fa-eye-slash"></i>
                                    <i id="eye-open" class="fa-solid fa-eye"></i>
                                </button>
                            </div>
                        </div>
                        <div class="g-recaptcha row recaptcha-style"
                            data-sitekey="6LeTaPghAAAAAC8pg666WOOYZxZMg8G69E8yfO8z"></div>
                        <button id="login-button" class="button-light" type="submit">Register</button>
                    </form>
                </div>
            </container>
            <container class="pic-container col-md-6">
                <img class="pic-style" src="/images/RegisterPic.jpg" alt="">
            </container>
        </div>
    </main>